  
.container
  .row
    %h2.page-header 
      Your Business Cards
      %button.btn.btn-danger{"data-target" => "#newCardModal ", "data-toggle" => "modal", :type => "button"} Add New Card

  .row
    .pull-right.controls.controls-row{:style => 'margin-top: -20px;'}
      =form_tag( { action: :index}, method: :get, :class => 'form-horizontal', id: 'card_tag_select') do
        = select_tag(:card_tag, options_for_select(@user_tags), :prompt => "Select tag...", :onchange => 'this.form.submit()',)
      
      =form_tag cards_path, :method => 'get', :class => 'form-horizontal form-search' do
        .input-append
          = text_field_tag :search, params[:search], :class => 'search-query input-medium'
          = submit_tag "Search", :name => nil, :class => 'btn'
  .row
    .span12
      %ul.thumbnails
        - if @cards
          - @cards.each do |c|
            %li.span3
              %a.thumbnail.card_thumbnail{"data-target" => "##{c.id} #showCardModal", "data-toggle" => "modal", :type => "button"}= image_tag(c.card.url(:medium))
            %div.card_view{:id => "#{c.id}"}
              #showCardModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "showCardModalLabel", :role => "dialog", :tabindex => "-1"}
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                  %h3#showCardModalLabel View Card
                .modal-body{ :style => "overflow-y: visible;" }
                  = image_tag c.card.url(:large)  
                  %ul.card_tags
                    - c.card_tags.each do |tag|
                      %li= link_to "#{tag.name}", card_tag_path(tag.name)
                  %button.btn.btn-primary.btn-block{"data-target" => "##{c.id} #editCardModal", "data-toggle" => "modal", :type => "button", :style => "width:500px; margin-left:auto; margin-right:auto;", "data-dismiss" => "modal"} Edit
                  = link_to 'Delete', (Card.find(c.id)), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger btn-block', :style => "width:500px; margin-left:auto; margin-right:auto;"
              #editCardModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "editCardModalLabel", :role => "dialog", :tabindex => "-1"}
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                  %h3#editCardModalLabel Edit Card
                .modal-body
                  = simple_form_for(Card.find(c.id), remote: true) do |f|
                    = f.error_notification

                    .form-inputs
                      = f.file_field :card
                      = f.label :tag_list, "Tags (separated by commas)"
                      = f.text_field :tag_list
                    .modal-footer
                      
                      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
                      %button.btn.btn-primary= :submit
= render 'new'