%p#notice= notice

%div
  = image_tag @card.card.url(:large)

.row
  %div
    = link_to 'Edit', edit_card_path(@card), :class => 'btn btn-primary span6'
.row
  %div
    = link_to 'Destroy', @card, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger span6'
\|
= link_to 'Back', cards_path