%p#notice= notice

%div
  = image_tag @card.card.url(:large)

= link_to 'Edit', edit_card_path(@card)
\|
= link_to 'Back', cards_path

%div
  = link_to 'Destroy', @card, :method => :delete, :data => { :confirm => 'Are you sure?' }
