%p#notice= notice

%p
  %b User:
  = @card.user
%p
  %b Ocr info:
  = @card.ocr_info
%p
  %b Card:
  = image_tag @card.card.url

= link_to 'Edit', edit_card_path(@card)
\|
= link_to 'Back', cards_path
