.navbar.navbar-fluid-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand(href="#") Railbus
      .container.nav-collapse
        %ul.nav.pull-right
          - if user_signed_in?
            Logged in as
            = succeed "." do
              %strong= current_user.email
            %li= link_to 'Edit profile', edit_user_registration_path
            %li= link_to "Logout", destroy_user_session_path, method: :delete
          - else
            %li= link_to "Sign up", new_user_registration_path
            %li= link_to "Login", new_user_session_path